.card {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card:focus-visible {
  outline: none !important;
}

.valueChangeHead {
  font-weight: 600;
}

.valueChange {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 20px;
}

.button {
  font-weight: 600 !important;
}
